<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <welcome-file-list>
        <welcome-file>FizzBuzzPlusPlus.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>com.fizzBuzzPlusPlus.FizzBuzzPlusPlus FizzBuzzPlusPlusService</servlet-name>
        <servlet-class>com.fizzBuzzPlusPlus.server.FizzBuzzPlusPlusServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.fizzBuzzPlusPlus.FizzBuzzPlusPlus FizzBuzzPlusPlusService</servlet-name>
        <url-pattern>/FizzBuzzPlusPlus/FizzBuzzPlusPlusService</url-pattern>
    </servlet-mapping>
</web-app>